:root{
    --accent-color: #FF031A;
}

body{
    height: 100vh;
    background-image: url(../../img/bg-galeria.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
}

@media (max-width: 768px){
    body{
        padding: 0 30px;
        background-color: #000A;
        background-image: url(../img/background.png);
        background-blend-mode: darken;
        background-position: 87%;
    }
}
