main{
    flex-grow: 1;
    height: 20vh;
    display: flex;
    font-family: 'Mulish', sans-serif;
    justify-content: center;
    padding: 30px 0px;
}
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    flex-grow: 1;
    border: 5px solid #fff;
    border-radius: 45px;
    background-color: #0006;
}
.content-container h1{
    font-size: 5rem;
    font-weight: 500;
    padding-bottom: 30px;
}
.images-container{
    height: 450px;
    width: 165vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.images{
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.images img{
    transition: all .2s;
}
.images img:hover{
    border-left: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}