main{
    flex-grow: 1;
    display: flex;
    font-family: 'Mulish', sans-serif;
    flex-direction: column;
}

.title-container{
    padding: 75px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    align-items: center;
}
.title-container h1{
    font-size: 2.8rem;
    font-weight: bold;
    font-style: italic;
}
.title-container p{
    font-size: 1.8rem;
    font-weight: 200;
    font-style: italic;
}

.content-container{
    display: flex;
    gap: 180px;
    align-items: flex-start;
    justify-content: center;
}
.content-container img{
    height: 245px;
    background-color: #000a;
    border: solid 5px #fff;
    border-radius: 24px;
}
.card img{
    transition: all .5s;
}
.doctor-container, .wong-container, .wanda-container{
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    justify-content: center;
}

.card img:hover{
    height: 280px;
    background-color: #a00a;
    border: solid 5px #FF031A;
    border-radius: 0px;
}
.card img:active{
    transition: all .05s;
    height: 245px;
}

.name-container p{
    font-weight: 200;
    font-size: 1.4rem;
}
.name-container h3{
    font-weight: bold;
    font-size: 2.2rem;
}